:root {
    /* sizing */
    --space: var(--size-2);
    --space-lg: var(--size-3);

    --rad: var(--radius-2);

    /* colors */
    --surface-1: var(--gray-1);
    --surface-1-trans: hsl(var(--gray-1-hsl) / 80%);
    --surface-2: var(--gray-2);
    --surface-3: var(--gray-3);
    --surface-4: var(--gray-4);

    --text-color: var(--gray-10);
    --text-muted: var(--gray-7);

    /* high visibility for testing */
    --high-vis: var(--lime-6);
}


/* Utilities */

.section {
    background-color: var(--surface-1-trans);
    padding: var(--space);
    border-radius: var(--rad);
}

.v-group {
    display: flex;
    flex-direction: column;
    gap: var(--space);
}

.h-group {
    display: flex;
    flex-direction: row;
    gap: var(--space);
}

/* General Styling */

body {
    background-image: var(--gradient-25);
    padding: var(--space);
    display: flex;
    flex-direction: column;
    gap: var(--space);
}

button {
    padding: var(--space);
    border-radius: var(--rad);
    color: var(--text-color);
    border: var(--border-size-1) solid var(--text-color);
    background-color: transparent;
}

table {
    border-collapse: collapse;

}

table tr {
    border: var(--border-size-1) solid var(--text-color);
}

table td, table th {
    padding-inline: var(--size-fluid-4);
    background-color: yellow;
}

/* targeting specific elements */
