<header style="margin-bottom: 1rem;">
    <nav class="ui centered fluid menu">

        <a class="item" href="/">Home</a>
        <a class="item" href="{{ url_for('control_panel_view') }}">Control Panel</a>
        <a class="item" href="{{ url_for('all_robots_view') }}">View All Robots</a>
        <a class="item" href="{{ url_for('create_robot_view' ) }}">Create a Robot</a>
        <a class="item" href="{{ url_for( 'display_view' ) }}">Display Test</a>
        <a class="item" href="/docs">API Docs</a>
    </nav>
</header>