{% extends 'layouts/ui-base.html' %}

{% block headScripts %}
<script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
{% endblock headScripts %}

{% block content %}

<div class="grid grid-cols-5 gap-4 grid-flow-row-dense">

    <div class="col-span-full sm:col-span-3 lg:col-span-2 card bg-base-300 text-base-content shadow-xl">
        <div class="card-body">
            <h2 class="card-title">Match Creation</h2>
            <p>Directions go here</p>

            <div class="card-actions flex-col items-stretch">
                <div class="btn-group w-full">

                    <button class="btn btn-primary grow" data-weight="ANT">Ant</button>
                    <button class="btn btn-primary grow" data-weight="PLANT">Plant</button>
                    <button class="btn btn-primary grow" data-weight="BEETLE">Beetle</button>
                </div>

                <div class="flex flex-col lg:flex-row gap-2">

                    <label class="input-group input-group-vertical">
                        <span class="bg-red-900 text-white label-text">Red</span>
                        <select class="select select-bordered text-red-900 bg-red-50 text-lg" data-select="red"
                            name="red-robot-select" id="red-robot-select"></select>
                    </label>
                    <label class="input-group input-group-vertical">
                        <span class="bg-blue-900 text-white label-text">Blue</span>
                        <select class="select select-bordered text-blue-900 bg-blue-50 text-lg" data-select="blue"
                            name="blue-robot-select" id="blue-robot-select"></select>
                    </label>
                </div>

                <button class="btn btn-primary grow" id="create-match">Set Match</button>
            </div>
        </div>
    </div>

    <div class="col-span-3 lg:col-span-2 xl:col-span-1 card bg-base-300 text-base-content shadow-xl">
        <div class="card-body">
            <h2 class="card-title">Match Results</h2>
            <p>Directions go here</p>

            <div class="card-actions flex-col items-stretch">

                <select class="select select-bordered text-lg" id="results-select">
                    <option value="KO">Knockout</option>
                    <option value="TO">Tapout</option>
                    <option value="JUDGE">Judge</option>
                </select>
                <div class="btn-group">
                    <button class="btn bg-red-900 text-white w-1/2">Red</button>
                    <button class="btn bg-blue-900 text-white w-1/2">Blue</button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-primary w-1/2">Update</button>
                    <button class="btn btn-primary w-1/2">Reset</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-span-2 lg:col-span-1 card bg-base-300 text-base-content shadow-xl">
        <div class="card-body">
            <h2 class="card-title">Time Control</h2>
            <p>Directions go here</p>
            <div class="card-actions flex-col items-stretch">

                <button class="btn btn-primary" id="reset-time">Reset</button>
                <div class="input-group input-group-vertical">
                    <input class="input input-bordered" type="number" id="time-input">
                    <button class="btn btn-primary" id="increment-time">Add Time</button>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-primary text-primary-content p-4">Placeholder 1</div>
    <div class="bg-primary text-primary-content p-4">Placeholder 2</div>
    <div class="bg-primary text-primary-content p-4">Placeholder 3</div>
    <div class="bg-primary text-primary-content p-4">Placeholder 4</div>
    <div class="bg-primary text-primary-content p-4">Placeholder 5</div>
    <div class="bg-primary text-primary-content p-4">Placeholder 6</div>
    <div class="bg-primary text-primary-content p-4">Placeholder 7</div>
    <div class="bg-primary text-primary-content p-4">Placeholder 8</div>
    <div class="bg-primary text-primary-content p-4">Placeholder 9</div>
    <div class="bg-primary text-primary-content p-4">Placeholder 10</div>
    <div class="bg-primary text-primary-content p-4">Placeholder 11</div>
    <div class="bg-primary text-primary-content p-4">Placeholder 12</div>
    <div class="bg-primary text-primary-content p-4">Placeholder 13</div>
    <div class="bg-primary text-primary-content p-4">Placeholder 14</div>
</div>

{% endblock %}

{% block bodyScripts %}
<script type="module">

    // imports
    import { getRobotList, getLatestMatch, postNewMatch } from '/static/scripts/utilities.js';
    import mqtt_client from '/static/lib/u8-mqtt/esm/web/v5.js';

    // MQTT setup
    let my_mqtt = mqtt_client()
        .with_websock('wss://test.mosquitto.org:8081')
        .with_autoreconnect()
    await my_mqtt.connect();

    const robotDropdowns = document.querySelectorAll('[data-select]');
    const weightBtns = document.querySelectorAll('[data-weight]');
    const createMatchBtn = document.getElementById('create-match');

    const resetTimeBtn = document.getElementById('reset-time');
    const incrementTimeBtn = document.getElementById('increment-time');
    const timeInput = document.getElementById('time-input');

    const resultTypeRadios = document.getElementsByName('result-type');
    const resultTypeUpdate = document.getElementById('update-result-type');
    const resultTypeClear = document.getElementById('clear-result-type');

    resultTypeUpdate.addEventListener('click', () => {
        let selected = null;
        resultTypeRadios.forEach(radio => {
            if (radio.checked) {
                selected = radio.value;
            }
        })
        console.log(selected);
    });
    resultTypeClear.addEventListener('click', () => {
        resultTypeRadios.forEach(radio => radio.checked = false);
    });

    const winnerRadios = document.getElementsByName('winner-radio');
    const winnerUpdate = document.getElementById('update-winner');
    const winnerClear = document.getElementById('clear-winner');

    winnerUpdate.addEventListener('click', () => {
        let selected = null;
        winnerRadios.forEach(radio => {
            if (radio.checked) {
                selected = radio.value;
            }
        })
        console.log(selected);
    });
    winnerClear.addEventListener('click', () => {
        winnerRadios.forEach(radio => radio.checked = false);
    });

    resetTimeBtn.addEventListener('click', () => {
        my_mqtt.send('timecontrol', 'r');
    });
    incrementTimeBtn.addEventListener('click', () => {
        my_mqtt.send('timecontrol', `a${timeInput.value}`);
    })

    let activeWeight = null;

    const optionSets = {}

    weightBtns.forEach(btn => {
        // populate the option sets
        let weight = btn.dataset.weight;
        optionSets[weight] = '';
        getRobotList(weight)
            .then(robotList => {
                robotList.forEach(robot => {
                    let { robot_name, id } = robot;
                    let opt = `<option value="${id}">${robot_name}</option>`
                    optionSets[weight] += opt;
                })
            })
        // .finally(() => console.log(optionSets));

        // create event listeners on the weight buttons to populate the dropdowns with the auto-generated options
        btn.addEventListener('click', () => {
            let weight = btn.dataset.weight;
            activeWeight = weight;
            robotDropdowns.forEach(dropdown => {
                dropdown.innerHTML = optionSets[weight];
            })
        });
    });

    createMatchBtn.addEventListener('click', () => {
        let red = document.getElementById('red-robot-select').value;
        let blue = document.getElementById('blue-robot-select').value;
        postNewMatch(red, blue, activeWeight)
    });
</script>
{% endblock bodyScripts %}