{% extends 'layouts/ui-base.html' %}

{% block headScripts %}
<script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
{% endblock headScripts %}

{% block content %}

<div class="form-control">
    <h2 class="text-xl">Match Creation</h2>
    <div class="input-group input-group-vertical">
        <div class="btn-group flex">
            <button class="btn btn-ghost flex-1" data-weight="ANT">Antweight</button>
            <button class="btn btn-ghost flex-1" data-weight="PLANT">Plastic Ant</button>
            <button class="btn btn-ghost flex-1" data-weight="BEETLE">Beetleweight</button>
        </div>
        <div class="input-group">
            
            <label class="input-group input-group-vertical">
                <span>Red Robot</span>
                <select class="select select-bordered" data-select="red" name="red-robot-select"
                id="red-robot-select"></select>
            </label>
            
            <label class="input-group input-group-vertical">
                <span>Blue Robot</span>
                <select class="select select-bordered" data-select="blue" name="blue-robot-select"
                id="blue-robot-select"></select>
            </label>
            
        </div>
        <button class="btn btn-block" id="create-match">Set Match</button>
    </div>

</div>

<fieldset>
    <legend>Match Setup</legend>
    <!-- <h2>Match Setup</h2> -->
    <div>
    </div>
    <div>

    </div>
</fieldset>




<fieldset>
    <legend>Match Results</legend>
    <div>
        <label for="jd">Judge's Decision</label>
        <input type="radio" name="result-type" id="jd" value="JUDGE">
        <label for="ko">Knockout</label>
        <input type="radio" name="result-type" id="ko" value="KNOCKOUT">
        <label for="to">Tapout</label>
        <input type="radio" name="result-type" id="to" value="TAPOUT">
    </div>
    <button id="update-result-type">Update</button>
    <button id="clear-result-type">Clear</button>

    <hr>

    <div>
        <label for="blue">Blue Wins</label>
        <input type="radio" name="winner-radio" id="blue" value="blue">
        <label for="red">Red Wins</label>
        <input type="radio" name="winner-radio" id="red" value="red">
    </div>
    <button id="update-winner">Update</button>
    <button id="clear-winner">Clear</button>
</fieldset>

<fieldset>
    <legend>Time Control</legend>
    <button id="reset-time">Reset Timer</button>
    <label for="time-input">Seconds to Add</label>
    <input type="number" id="time-input">
    <button id="increment-time">Add Time</button>
</fieldset>



{% endblock %}

{% block bodyScripts %}
<script type="module">

    // imports
    import { getRobotList, getLatestMatch, postNewMatch } from '/static/scripts/utilities.js';
    import mqtt_client from '/static/lib/u8-mqtt/esm/web/v5.js';

    // MQTT setup
    let my_mqtt = mqtt_client()
        .with_websock('wss://test.mosquitto.org:8081')
        .with_autoreconnect()
    await my_mqtt.connect();

    const robotDropdowns = document.querySelectorAll('[data-select]');
    const weightBtns = document.querySelectorAll('[data-weight]');
    const createMatchBtn = document.getElementById('create-match');

    const resetTimeBtn = document.getElementById('reset-time');
    const incrementTimeBtn = document.getElementById('increment-time');
    const timeInput = document.getElementById('time-input');

    const resultTypeRadios = document.getElementsByName('result-type');
    const resultTypeUpdate = document.getElementById('update-result-type');
    const resultTypeClear = document.getElementById('clear-result-type');

    resultTypeUpdate.addEventListener('click', () => {
        let selected = null;
        resultTypeRadios.forEach(radio => {
            if (radio.checked) {
                selected = radio.value;
            }
        })
        console.log(selected);
    });
    resultTypeClear.addEventListener('click', () => {
        resultTypeRadios.forEach(radio => radio.checked = false);
    });

    const winnerRadios = document.getElementsByName('winner-radio');
    const winnerUpdate = document.getElementById('update-winner');
    const winnerClear = document.getElementById('clear-winner');

    winnerUpdate.addEventListener('click', () => {
        let selected = null;
        winnerRadios.forEach(radio => {
            if (radio.checked) {
                selected = radio.value;
            }
        })
        console.log(selected);
    });
    winnerClear.addEventListener('click', () => {
        winnerRadios.forEach(radio => radio.checked = false);
    });

    resetTimeBtn.addEventListener('click', () => {
        my_mqtt.send('timecontrol', 'r');
    });
    incrementTimeBtn.addEventListener('click', () => {
        my_mqtt.send('timecontrol', `a${timeInput.value}`);
    })

    let activeWeight = null;

    const optionSets = {}

    weightBtns.forEach(btn => {
        // populate the option sets
        let weight = btn.dataset.weight;
        optionSets[weight] = '';
        getRobotList(weight)
            .then(robotList => {
                robotList.forEach(robot => {
                    let { robot_name, id } = robot;
                    let opt = `<option value="${id}">${robot_name}</option>`
                    optionSets[weight] += opt;
                })
            })
        // .finally(() => console.log(optionSets));

        // create event listeners on the weight buttons to populate the dropdowns with the auto-generated options
        btn.addEventListener('click', () => {
            let weight = btn.dataset.weight;
            activeWeight = weight;
            robotDropdowns.forEach(dropdown => {
                dropdown.innerHTML = optionSets[weight];
            })
        });
    });

    createMatchBtn.addEventListener('click', () => {
        let red = document.getElementById('red-robot-select').value;
        let blue = document.getElementById('blue-robot-select').value;
        postNewMatch(red, blue, activeWeight)
    });
</script>
{% endblock bodyScripts %}