{% extends 'layouts/ui-base.html' %}

{% block content %}


<div class="ui container">
    <p>Enter a name or a comma-separated list of names. Be careful, I haven't added editing yet.</p>
    <div class="ui fluid action input">
        <select name="weight" id="weight">
            <option value="ANT">Antweight</option>
            <option value="PLANT">Plastic Ant</option>
            <option value="BEETLE">Beetleweight</option>
        </select>
        <input type="text" id="name-input" placeholder="Name or comma-separated list">
        <button class="ui button" id="create">Create</button>
        
    </div>
</div>

{% endblock %}

{% block bodyScripts %}
    
<script type="module">
    import { postNewRobot } from '/static/scripts/utilities.js';
    const dropdown = document.getElementById('weight');
    const nameInput = document.getElementById('name');
    const btn = document.getElementById('create');

    function splitNames (nameString) {
        return nameString.split(',').map( botString => botString.trim() ).filter(botString => botString.length > 0);
    }

    function confirmNames (nameList) {
        return confirm(`Correct?\n\n${nameList.join('\n')}`);
    }
    
    btn.addEventListener('click', () => {
        let weight = dropdown.value;
        let names = splitNames(nameInput.value);
        if (names.length > 1) {
            if ( !confirmNames(names) ) {
                console.log('canceled');
                return 'canceled';
            }
        }
        
        names.forEach( robotName => {
            postNewRobot(robotName, weight);
        });
    });
</script>

{% endblock bodyScripts %}