{% extends 'ui-base.html' %}

{% block content %}
<h1>Create a Robot</h1>
<label for="name-input">Robot's Display Name</label>
<input type="text" id="name">
<button id="create">Create</button>
<select name="weight" id="weight">
    <option value="ANT">Antweight</option>
    <option value="PLANT">Plastic Ant</option>
    <option value="BEETLE">Beetleweight</option>
</select>
{% endblock %}

{% block scripts %}
<script>
    const dropdown = document.getElementById('weight');
    const nameInput = document.getElementById('name');
    const btn = document.getElementById('create');

    btn.addEventListener('click', () => {
        fetch('http://localhost:8000/robots/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json;charset=utf-8'
            },
            body: JSON.stringify({
                display_name: nameInput.value,
                weight: dropdown.value
            })
        })
            .then(response => response.json())
            .then(json => console.log(json));
    })
</script>

{% endblock %}