{% extends 'layouts/ui-base.html' %}

{% block headScripts %}
<script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
{% endblock headScripts %}

{% block content %}
    <h1>Display Test</h1>
    <p>Displays everything. Primarily intended for troubleshooting purposes</p>
    <button id="update-all">Force Refresh</button>
    <h2>Current Match</h2>
    <p><span id="weight">Weight Class</span>  <span id="red-bot">Red</span>   <span id="blue-bot">Blue</span></p>

    <style>
        #red-bot {
            text-shadow: 0 0 3px red, 0 0 5px red;
        }
        #blue-bot {
            text-shadow: 0 0 3px #59f, 0 0 5px #59f;
        }
    </style>

{% endblock %}

{% block bodyScripts %}
    <script type="module">
        import { getLatestMatch } from '/static/scripts/utilities.js';
        const updateBtn = document.getElementById('update-all');
        
        function updateMatch() {
            getLatestMatch().then( match => {
                let { red_id, blue_id, weight } = match;
                document.getElementById('weight').innerText = weight;
                document.getElementById('red-bot').innerText = red_id;
                document.getElementById('blue-bot').innerText = blue_id;
            });
        }

        updateBtn.addEventListener('click', updateMatch);
        
    </script>
{% endblock bodyScripts %}
