{% extends 'layouts/ui-base.html' %}

{% block content %}
    <h1>Home</h1>
    <p>Useful links, because navigation is getting annoying.</p>

    <ul>
        <li><a href="/docs">API Docs</a></li>    
        <li><a href="{{ url_for('control_panel_view') }}">Control Panel</a></li>
        <li><a href="{{ url_for('all_robots_view') }}">View All Robots</a></li>
        <li><a href="{{ url_for('create_robot_view' ) }}">Create a Robot</a></li>
        <li><a href="{{ url_for( 'display_view' ) }}">Display Test</a></li>        
    </ul>
    
{% endblock %}

{% block bodyScripts %}
{% endblock bodyScripts %}