{% extends 'layouts/ui-base.html' %}

{% block content %}
<h1>View Robots</h1>
<div>
    <button data-weight="ALL">All Robots</button>
    <button data-weight="ANT">Antweight</button>
    <button data-weight="PLANT">Plastic Ant</button>
    <button data-weight="BEETLE">Beetleweight</button>
</div>
<table>
    <thead>
        <tr>
            <th>Display Name</th>
            <th>Name</th>
            <th>Weight</th>
            <th>ID</th>
        </tr>
    </thead>
    <tbody id="table-body"></tbody>
</table>
{% endblock %}

{% block scripts %}
<script type="module">
    import { getRobotList } from '/static/scripts/utilities.js';
    const weightBtns = document.querySelectorAll('[data-weight]');
    const tbody = document.getElementById('table-body');

    function buildTable(weight, tableBody) {
        tableBody.innerHTML = '';
        getRobotList(weight).then(robotList => {
            robotList.forEach((robot) => {
                let row = tableBody.insertRow(-1);
                [robot.display_name, robot.name, robot.weight, robot.id].forEach(item => {
                    row.innerHTML += `<td>${item}</td>`;
                })
            })
        })
    };

    weightBtns.forEach(btn => {
        btn.addEventListener('click', () => {
            let weight = btn.dataset.weight;
            buildTable(weight, tbody);
        });
    })

    window.onload = () => {
        buildTable(null, tbody);
    }
</script>
{% endblock %}