{% extends 'layouts/ui-base.html' %}

{% block content %}
<h1>View Robots</h1>
<div>
    <button data-weight="ALL">All Robots</button>
    <button data-weight="ANT">Antweight</button>
    <button data-weight="PLANT">Plastic Ant</button>
    <button data-weight="BEETLE">Beetleweight</button>
</div>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Weight</th>
        </tr>
    </thead>
    <tbody id="table-body"></tbody>
</table>
{% endblock %}

{% block bodyScripts %}
<script type="module">
    import { getRobotList } from '/static/scripts/utilities.js';
    const weightBtns = document.querySelectorAll('[data-weight]');
    const tbody = document.getElementById('table-body');

    function buildTable(weight=null, tableBody=tbody) {
        tableBody.innerHTML = '';
        getRobotList(weight).then( robotList => {
            robotList.forEach( robot => {
                // For each robot in the list of robots for the specified weight class...
                
                // destructure values
                let { id, weight, robot_name } = robot;
                
                // Make a new row
                let row = document.createElement('tr');

                // Fill in values
                row.innerHTML = `<td>${id}</td><td>${weight}</td><td>${robot_name}</td>`;

                // Add row to table body
                tableBody.appendChild(row);
            })
        })
    }

    // Add an event listener to each button that loads the relevant table
    weightBtns.forEach(btn => btn.addEventListener('click', () => {
        buildTable(btn.dataset.weight);
    }));

    window.onload = buildTable();




</script>
{% endblock bodyScripts %}