---
import BaseLayout from '@layouts/BaseLayout.astro';
import Nav from '@components/Nav.astro';
const { title } = Astro.props;
---
<link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css" slot="in-header">

<BaseLayout title="title">
    
    <Nav />
<h1>{ title }</h1>
<slot />
</BaseLayout>