<header>
    <nav>
        <a href="/"><button>Home</button></a>
        <a href="/controlpanel/"><button>Control Panel</button></a>
        <a href="/createrobot/"><button>Create Robot(s)</button></a>
        <a href="/viewrobots/"><button>View Robots</button></a>
        <a href="/displaytest/"><button>Display Test</button></a>
        <a href="/streamoverlay/"><button>Stream Overlay</button></a>
        <a href="/timer/"><button>Timer</button></a>
    </nav>
</header>
